@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'Lovelo'; 
  src: url(Lovelo-LineLight.woff2) format('woff2'); 
}

html{
  cursor: default; 
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
  color: #fff;
}

a {
  color: #75C7FB;
}

a:hover {
  cursor: pointer;
  color: #9cd9ff;
  text-decoration: underline;
}

h1, h2, h3, #login-div {
  user-select: none;
  -webkit-user-select: none;
}

.hd-top {
  margin: 0; 
  /* padding-left: 6px;  */
  color: #fff; 
  font-family: 'Roboto', Courier, monospace;
  font-size: 2.4em; 
  line-height: 1.2;
  font-weight: 100;
}

.hd-main {
  margin: 0; 
  color: #9cd9ff; 
  font-size: 4.8em; 
  line-height: 0.9;
  text-shadow: 0px 0px 6px #7268f7; 
  font-family: 'Lovelo', Courier, monospace;
}

/* body{
  background: url(https://via.placeholder.com/1920x1080?text=Website%20Background); 
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center; 
} */

body{
  background: #144568;
}

::selection{
  background: #90b5da;
}

body {
  background: #0D2C42;
}

.container {
  margin-top: 10px; 
  margin-bottom: 15px; 
  background: #0D2C42; 
  padding: 12px 6px 2px; 
  color: #fff; 
}

@media screen and (min-width: 1200px) {
  body {
    background: #144568;
    background-image: url(background.svg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  .container{
    margin-top: 20px; 
    margin-bottom: 20px; 
    background: #144568; 
    /* background: #0D2C42;  */
    padding: 24px 12px 4px; 
    color: #fff; 
  }
}

#st-main{
  display: none; 
}

hr{
  border: none; 
  border-bottom: 1px solid #fff;
}

::-webkit-scrollbar{
  background-color: rgb(29, 29, 29);
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(77, 81, 104);
}

button.btn{
  width: 240px;
  height: 40px;
  margin-bottom: 8px;
  text-transform: none; 
  font-size: 1.0rem;
}

h1{
  font-size: 2.6rem; 
}

h2{
  font-size: 2.2rem;
}

h3{
  font-size: 1.9rem;
}

h4{
  font-size: 1.6rem;
}

h5{
  font-size: 1.4rem;
}

h6{
  font-size: 1.2rem;
}

p {
  font-size: 1.0rem; 
}

ul li{
  margin-bottom: 4px; 
  font-size: 1.0rem; 
}

#st-pbouter{
  width: 100%; 
  height: 14px;
  position: relative;
  background: #5555559f;
  max-width: 430px;
}

#st-pbinner{
  width: 0%; 
  height: 14px;
  position: absolute; 
  background: #615ff19f;
  transition: width 0.8s; 
}

/* Status page exclusive */
#login-div{
  border: 1px solid #fff;
  padding: 0 8px;
  background: #8e86ff1f;
}

.infobox{
  padding: 4px 8px;
  margin-bottom: 8px;
  background: #b0dcfa41;
}

.hl{
  display: inline-block;
  width: 70px;
  text-align: center;
  background: #9cb3c241;
}

td, th{
  padding: 8px 6px;
}

tr{
  border-bottom: 1px solid #ffffff3d;
}

thead {
  background: #c3e2ff29;
}

thead tr{
  border-bottom: 1px solid #fff;
}